@function sfnk-map-listify-deep($map) {
  @if type-of($map) == map {
    $flattened: ();
    $keys: map-keys($map);
    @for $i from 1 through length($map) {
      $list: ();
      $key: nth($keys, $i);
      $value: map-get($map, $key);
      @if type-of($value) == map {
        $value: sfnk-map-listify-deep($value);
      }
      $list: append($list, $key);
      $list: append($list, $value);
      $flattened: append($flattened, $list);
    }
    @return $flattened;
  }
  @else {
    @warn "SassFunk: #{type-of($map)} #{$map} is not a valid argument for sfnk-map-listify-deep(). Pass a list or arglist.";
    @return null;
  }
}
