@function sfnk-list-mapify($list) {
  @if type-of($list) == list or type-of($list) == arglist {
    $map: ();
    @each $item in $list {
      @if type-of($item) == list {
        // (border 1px solid green, hover (color: red, background: yellow))  --> (border: 1px solid green, hover: (color: red, background-yellow))
        @if length($item) > 1 {
          $key: nth($item, 1);
          $val: sfnk-list-reject-nth($item, 1);
          $map: map-merge($map, ($key: $val));
        }
        @else {
          @warn "SassFunk: #{type-of($item)} #{$item} is not a list. All items in the list passed to sfnk-list-mapify must be at least 2 items long.";
          @return null;
        }
      }
      @else {
        @warn "SassFunk: #{type-of($item)} #{$item} is not a list. All items in the list passed to sfnk-list-mapify must be at least 2 items long.";
        @return null;
      }
    }
    @return $map;
  }
  @else {
    @warn "SassFunk: #{type-of($list)} #{$list} is not a valid argument for sfnk-list-mapify(). Pass a list or arglist.";
    @return null;
  }
}