@include describe("The sfnk-list-mapify function") {

$list: (border 1px solid green, outline 2px blue);
$map: (border: (1px solid green), outline: 2px blue);

$list1: (1 2 3, 4 5 6 7 8);
$map1: (1: (2 3), 4: (5 6 7 8));

$invalid-list: ((1 2 3), 1, (2 3));

  @include it("should return a map where the keys are the first items of each list item, the values the remaining list items of each item") {
    @include should( expect( sfnk-list-mapify( $list ) ), to( be( $map ) ) );
    @include should( expect( sfnk-list-mapify( $list1 ) ), to( be( $map1 ) ) );
  }

  @include it("should return null and warn if an item of the list has a length of only one") {
    @include should( expect( sfnk-list-mapify( $invalid-list ) ), to( be-null() ) );
  }

  @include it("should return null if the argument was not a list") {
    @include should( expect( sfnk-list-mapify("test") ), to( be-null() ));
  }

}
